In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn 

plt.rcParams['font.family'] ='D2Coding'

In [8]:
events = pd.read_csv('events.csv')
order_items = pd.read_csv('order_items.csv')

events = events[events['event_type'] == 'product']
events['product_id'] = events['uri'].str.extract('(\d+)')

# 'user_id'와 'product_id'를 기준으로 -> 두 df를 각각 그룹화하고 -> 각 그룹의 'created_at'의 최소값 찾기
events_new = events.groupby(['user_id', 'product_id'])['created_at'].idxmin()
order_items_new = order_items.groupby(['user_id', 'product_id'])['created_at'].idxmin()

In [9]:
events_new.head()

user_id  product_id
1.0      2953          1731193
         4731           763416
         7656           663897
2.0      25774         2422321
3.0      18177          439244
Name: created_at, dtype: int64

In [16]:
# 각 데이터프레임의, 각 그룹에서, 가장 작은 created_at이, 전체 데이터프레임에서의 최소값과, 일치하는 행만 선택
events_fin = events.loc[events['created_at'] == events.loc[events_new, 'created_at'].min()]
order_items_fin = order_items.loc[order_items['created_at'] == order_items.loc[order_items_new, 'created_at'].min()]

# 두 데이터프레임을 열 방향으로 결합
fin_df = pd.concat([events_fin, order_items_fin], axis=1)
fin_df

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,...,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
1931667,312049.0,23839.0,2.0,a88ed212-68c7-4732-b4fc-5e1311d2b945,2019-01-06 02:16:53+00:00,136.198.160.147,São Luís,Maranhão,65052-050,Firefox,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29835.0,23839.0,12305.0,116952.0,Shipped,2019-01-06 02:25:41+00:00,2019-01-09 04:36:00+00:00,NaN,NaN,15.0